:root{
    --backgroundcolor: whitesmoke;
    --color1:rgb(27, 26, 26);
    --color2:rgb(110, 66, 66);
}

body{
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
    background-color: var(--backgroundcolor);

}
/* top-header kısmı */
header nav.top-nav{
    background-color: var(--backgroundcolor);
    padding: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;

}

header nav.top-nav div.social-media a i, header nav.top-nav div.search i{
  color: var(--color1);
  margin: 5px;
}

header nav.top-nav div.social-media{
    flex: 1;
    margin-left: -120px; 
     
}

header nav.top-nav div.logo{
    flex: 3;
    width: 40vw;
    margin-left: -5vw;   
}

header nav.top-nav div.search{
    flex:1;
    margin-right: -120px; 
}

/* Ikinci nav bar */

header nav.bottom-nav{/* çalışmıyor */
    position: sticky;
    top: 30px;
}
header nav.bottom-nav ul {
    background-color: var(--backgroundcolor);
    margin: 0;
    padding:0;
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 20px;
    list-style: none;   
    border-top: 1px solid var(--color2);
    border-bottom: 1px solid var(--color2);
    
    

}

header nav.bottom-nav ul li{
    position: relative;
}

header nav.bottom-nav ul li a{
    color: var(--color1);
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 14px 16px;
    
}

header nav.bottom-nav ul li a:hover{
    background-color: var(--backgroundcolor);
    color: var(--color2);
  

}
/* dropdown */
header nav.bottom-nav li a.dropdown{
    padding: 12px 16px;
    color: var(--color1);
    text-align: center;
    z-index: 2;
 
}
header nav.bottom-nav ul li ul.dropdown-content{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color:var(--backgroundcolor);
    list-style: none;
    width: 150px;
    padding: 0;
    margin: 0;
    transition: opacity 0.7s ease;/* çalışmıyor */
    
}

header nav.bottom-nav li.dropdown-content a:hover{ 
    background-color: #555;
}
/* Hover ile dropdown menüyü gösterme */
header nav.bottom-nav ul li:hover .dropdown-content {
    display: block;
}

/* main üst kısım */

main section.section1{
    background: rgba(255, 255, 255, 0.3)/* buradaki son deger opacity değeri */  url("../image/herbs.jpg") center center no-repeat;
    background-blend-mode: overlay; 
    background-size: cover;
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items:end;
    position: relative;
    z-index: -2;
    text-align: center;
    font-size: 1.3rem;
   
       
}

/* sutunları ayarlama */
main section.container{
    display: flex;
    gap: 10px;
    justify-content: space-around;
    margin-top: 3vh;

    
}

main section.section2{
    flex: 3;
    display: flex;
    flex-direction: column;
    
  
   
}
main aside{
    flex: 1;
    background-color: var(--backgroundcolor);
    padding: 20px;
    color: var(--color1);
    margin-right: 75px;
}
/* SECTION-2 KISMI */

section.section2 > section.section-sub1 >div, 
section.section2 > section.section-sub1 >h2 {
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

section.section2 > section.section-sub1 > h2{
    text-transform: uppercase;
}

section.section2 > section.section-sub2 >div p{
    text-align: center;
    font-size: 18px;
}
/* SUB-SECTION KISMI */

.section-sub2 {
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 20px;
}
.section-sub2 > h3 {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 40px;
    font-size: 24px;
}

section.section2 > section.section-sub2>div{
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 30px;
  
}


section.section2 > section.section-sub2 > div p{
    text-align: justify;
    font-size: 14px;
    width: 450px;
}

aside>div{
    border: 1px solid rgb(182, 181, 181);
    margin: 0 auto;
    margin-bottom: 50px;
    text-align: center;
    border-radius: 5px;
   

}

aside div.subscribe{
    text-align: center;
    font-size: 15px;
    margin-bottom: 20px;
    background-color: rgb(56, 55, 55);
    color: var(--backgroundcolor);
    padding: 10px 20px;
    border-radius: 5px;
    padding: 15px;
}
aside div.subscribe input[type="email"] {
    width: 80%; /* Parent containerın %80'i kadar genişlik */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid rgb(182, 181, 181);
}

aside div.subscribe input[type="submit"] {
    background-color: var(--color1);
    color: var(--backgroundcolor);
    padding: 10px 20px;
    cursor: pointer;
    width: 86%; 
    margin-bottom: 15px;
}

aside div.subscribe input[type="submit"]:hover{
    background-color: rgb(56, 55, 55);
}

aside div.social-media, aside div.social-media a i {
    text-align: center;
    margin-bottom: 30px;
    color: var(--color1);
}
aside div.categories{
    text-align: left;
    margin-bottom: 30px;
    color: var(--color1);
    padding: 10px 20px;
}

aside div.categories ul{
    list-style: none;
    padding: 0;
   
   
}

aside div.categories ul li a{
    margin-bottom: 10px;
    text-decoration: none;
    color: var(--color1);
    font-size: 20px;
    display: block;
    line-height: 50px;
}

/* footer */

footer{
    background-color: rgb(56, 55, 55);
    color: var(--backgroundcolor);
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
}
footer div.logo{
    flex: 1;
}

footer div.subscribe{
    text-align: center;
    font-size: 15px;
    margin-bottom: 20px;
    margin-right: 50px;
    background-color: rgb(56, 55, 55);
    color: var(--backgroundcolor);
    padding: 10px 20px;
    flex: 1;
 
}

footer div.subscribe input[type="email"] {
    width: 80%; /* Parent containerın %80'i kadar genişlik */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid rgb(182, 181, 181);
}

footer div.subscribe input[type="submit"] {
    background-color: var(--color1);
    color: var(--backgroundcolor);
    padding: 10px 20px;
    cursor: pointer;
    width: 84%; 
}
footer div.footer-menu{
    display: inline-block;
    color: var(--color1);
    text-align: left; 
    flex: 1;
}

footer div.footer-menu a{
    display: block;
    margin-bottom: 20px;
    gap: 10px;
    color: var(--backgroundcolor);
    text-decoration: none;
    
}





